<input type="hidden" id="shopId" value="{{item.shopId}}"/>
<input type="hidden" id="itemId" value="{{item.itemId}}"/>
<input type="hidden" id="sellerId" value="{{item.sellerId}}"/>
<input type="hidden" id="itemName" value="{{item.itemName}}"/>
<input type="hidden" id="itemStatus" value="{{item.itemStatus}}"/>
<input type="hidden" id="marketPrice" value="{{item.marketPrice}}"/>
<input type="hidden" id="hasPrice" value="{{item.hasPrice}}"/>
<input type="hidden" id="skuId" value="{{skuId}}"/>
<input type="hidden" id="areaCode" value="{{skuItem.areaCode}}"/>
<input type="hidden" id="logging_status" value="{{logging_status}}"/>
<input type="hidden" id="imageServerAddr" value="{{imageServerAddr}}"/>

{{#if skuItem}}
	<input type="hidden" id="qty_js" value="{{skuItem.qty}}">
{{else}}
	<input type="hidden" id="qty_js" value="{{item.inventory}}">
{{/if}}

<div class="op_bg po_re" onclick="show_shop_back()"></div>
<div class="po_ab shop_b">
    <dl class="shopp_xinxi">
		<div class="icon">
        	<dt class="fl">
				{{#if skuItem}}
                    <img src="{{gix}}{{skuItem.skuPicUrl}}" />
				{{else}}
					<img src="{{gix}}{{getPicUrl0 item.picUrls}}" />
				{{/if}}
			</dt>
        </div>
        <dd class="fr mar_t10 mar_r10" style="margin-right: 5%;">
            <div class="fl" style="padding-left: 7%;">
                {{#compare item.hasPrice "==" 1}}
                	{{#if skuItem}}
                		<p class="font_e5" guidPrice>￥{{skuItem.skuPrice}}</p>
                	{{else}}
                		<p class="font_e5" guidPrice>￥{{item.guidePrice}}</p>
                	{{/if}}
                {{else}}
                	没有价格，需要询价
                {{/compare}}
                {{#if skuItem}}
                	<p class="" >库存：<span qty_js>{{skuItem.qty}}</span></p>
            	{{else}}
                	<p class="" >库存：<span qty_js>{{item.inventory}}</span></p>
            	{{/if}}
            </div>
            <div class="fr" onclick="show_shop_back()">
                <i class="fa fa-times-circle bigfont"></i>
            </div>
        </dd>
        <div class="clear"></div>
    </dl>
    <div class="shop_main mar_lr5">
		{{#each item.attrSale}}
			<h3 class="lin_24">{{name}}</h3>
			<p>
			{{#each values}}
				{{#if ../../skuItem}}
					{{#each ../../../skuItem.attrSales}}
						{{#compare id "==" ../../../id}}
							{{#each ../values}}
								{{#compare id "==" ../../../../id}}
									<button class="button_bor js_attr border_e3" attrid="{{../../../../../../id}}" valueid="{{../../../../id}}"  _selected="true">{{../../../../../name}}</button>
								{{else}}
									<button class="button_bor js_attr border_ee" attrid="{{../../../../../../id}}" valueid="{{../../../../id}}"  _selected="false" onclick="chooseAttr(this);return false;">{{../../../../../name}}</button>
								{{/compare}}
							{{/each}}
						{{else}}
							
						{{/compare}}
					{{/each}}
				{{else}}
					<button class="button_bor js_attr border_ee" attrid="{{../../id}}" valueid="{{id}}"  _selected="false" onclick="chooseAttr(this);return false;">{{name}}</button>
				{{/if}}
			{{/each}}
			</p>
		{{/each}}
        <div class="num ">
            <dl>
                <dt class="fl">购买数量</dt>
                <dd class="fr"><span class="kuai" onclick="addQty(-1);">-</span><input maxlength="10" type="tel" id="number_js" value="1" class="kuai" previousValue="" onkeydown="validateProQtyKeydonw(this,event);" onkeyup="validateProQty(this,event);"/><span class="kuai" onclick="addQty(1);">+</span></dd>
            </dl>
            <div class="clear"></div>
        </div>
    </div>
</div>
