{{#each result}}
<div class="shop_price fl po_re">
    <div class="shop_price_img">
    	<a href="product/toDetail?id={{itemId}}&skuId={{skuId}}">
        	<img style="width:100%;height: 100%" src="{{../gix}}{{picUrl}}">
        </a>
    </div>
    <div class="shop_price_bg po_ab">
        <span class="fl"></span><span class="fr">{{itemName}}</span>
    </div>
 </div>
{{/each}}
